* {
    padding: 0;
    margin: 0;
    outline: none;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(180deg, #010049 -34.45%, rgba(0, 0, 0, 1) 100%);
}

a {
    text-decoration: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Hauora";
    src: url("../../public/fonts/hauora_sans/Hauora.eot");
    src: url("../../public/fonts/hauora_sans/Hauora.eot?#iefix")format("embedded-opentype"),
    url("../../public/fonts/hauora_sans/Hauora.woff2")format("woff2"),
    url("../../public/fonts/hauora_sans/Hauora.woff")format("woff"),
    url("../../public/fonts/hauora_sans/Hauora.ttf")format("truetype"),
}

.mob {
    display: none;
}

$FONT_SIZE_12: 12px;
$FONT_SIZE_14: 14px;
$FONT_SIZE_16: 16px;
$FONT_SIZE_18: 18px;
$FONT_SIZE_35: 35px;
$FONT_SIZE_40: 40px;

$COLOR_DARK_GRAY: rgba(73, 73, 73, 1);
$COLOR_GRAY: rgba(112, 111, 146, 1);
$COLOR_LIGHT_WHITE: rgba(240, 246, 252, 1);;
$COLOR_WHITE: rgba(255, 255, 255 , 1);
$COLOR_BLACK: rgba(6, 6, 6, 1);

$width: 80%;

@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin button($width, $color, $borderC) {
    width: $width;
    height: 30px;
    @include center();
    border-radius: 10px;
    background-color: $color;
    border: 1px solid $borderC;   
    cursor: pointer;

    font-family: "Hauora";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 16px;
    text-align: center;   
    transition: 0.5s;
    color: rgba(255, 255, 255, 1);
    &:hover {
        box-shadow: 0px 0px 1.1px 0px rgba(17, 14, 104, 1), 0px 0px 2.2px 0px rgba(17, 14, 104, 1),  0px 0px 7.7px 0px rgba(17, 14, 104, 1), 0px 0px 15.39px 0px rgba(17, 14, 104, 1),  0px 0px 26.39px 0px rgba(17, 14, 104, 1), 0px 0px 46.18px 0px rgba(17, 14, 104, 1);
    }
}

@mixin card() {
    display: flex;
    flex-direction: column;    
    overflow: hidden;
    background-color: rgb(7, 7, 7);
    border-radius: 20px;
    border: 1px solid $COLOR_DARK_GRAY;
    padding-bottom: 1px;
    p {
        padding: 88px 0 0 95px;
        font-family: "Hauora";
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 23.4px;
        text-align: left;
        color: $COLOR_WHITE;
        z-index: 10;
        opacity: 1;
        &.appearance {
            opacity: 1;
        }
        span {
            opacity: 1;
            color: $COLOR_GRAY;           
            &.appearance {
                opacity: 1;
            }
        }
    }
}

@mixin input() {
    display: flex;
    width: 100%;
    max-width: 504px;
    height: 42px;
    border-radius: 10px;
    transition: 0.5s;
    border: 1px solid rgba(3, 16, 180, 1);
    &:hover {                            
        box-shadow: 0px 0px 26.39px 0px rgba(3, 16, 180, 1);
    }
    input {
        width: 367px;                            
        border-radius: 10px 0px 0px 10px;                            
        background-color: rgba(255, 255, 255, 1);
        border: none;
        outline: none;
        padding-left: 15px;        font-family: "Hauora";
        font-size: $FONT_SIZE_14;
        font-weight: 500;
        letter-spacing: 0.03em;
        line-height: 19.6px;
        text-align: left;
        color: $COLOR_BLACK;        
        &::placeholder {
            font-family: "Hauora";
            font-size: $FONT_SIZE_14;
            font-weight: 500;
            letter-spacing: 0.03em;
            line-height: 19.6px;
            text-align: left;
            color: $COLOR_GRAY;
        }
    }
    button {
        width: 153px;
        border-radius: 0px 10px 10px 0px ;
        border: none;
        cursor: pointer;
        background-color: rgba(23, 19, 147, 0.4);     
        
        font-family: "Hauora";
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(255, 255, 255, 1);
        
    }
    
}


@keyframes mainTitle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.effect {
    scale: 0;
    opacity: 1;
    position: absolute;
    z-index: 1;
    background-color: rgba(4, 0, 110, 0.1);
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    filter: blur(50px);
    transition:  0.1s ease;
    pointer-events: none;
}

.container {
    display: block;
    margin: auto;
    max-width: 2560px;
    .header {
        width: 100vw;
        max-width: 100%;
        @include center();
        background: transparent;
        padding-bottom: 10px;
        transition: transform 0.3s ease-in-out;
        position: fixed;
        z-index: 1000;

        &.hidden {
            transform: translateY(-100%);
        }

        &.scrolled {
            background: linear-gradient(180deg, #000000 20.98%, rgba(0, 0, 0, 0) 100%);
        }

        .header__container {
            width: $width;
            max-width: 1120px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 41px;
            a {
                img {
                    width: 216px;
                    height: 33px;
                }
            }
            .header__nav {
                display: flex;
                align-items: center;
                .header__nav-link {
                    padding: 0 10px;
                    margin-left: 10px;
                    font-family: "Hauora";
                    font-size: $FONT_SIZE_14;
                    font-weight: 500;
                    letter-spacing: 0.03em;
                    letter-spacing: 0.03em;
                    line-height: 16.8px;
                    text-align: left;
                    color: $COLOR_GRAY;
                    &:nth-child(1) {
                        margin-left: 0;
                    }
                }
            }
            .header__buttons {
                @include center();
                .header__buttons-search {
                    margin-left: 10px;
                    font-family: "Hauora";
                    font-size: $FONT_SIZE_14;
                    font-weight: 500;
                    letter-spacing: 0.03em;
                    letter-spacing: 0.03em;
                    line-height: 16.8px;
                    text-align: left;
                    color: $COLOR_GRAY;
                }
                .header__buttons-enter {
                    margin-left: 38.5px;
                    @include button(117px, rgba(23, 19, 147, 0.4), rgba(23, 19, 147, 1));
                }
                .header__buttons-menu {
                    display: none;
                }
            }
        }
    }
    .main {
        width: 100vw;
        max-width: 100%;
        @include center();
        flex-direction: column;
        .products {
            position: relative;
            width: 100%;
            @include center();
            background: linear-gradient(rgb(7, 6, 46), rgb(0,0,0));
            .products__container {
                padding-top: 259px;
                padding-bottom: 420px;
                width: 80%;
                max-width: 1120px;
                flex-direction: column;

                &::after {
                    margin-top: 50px;
                    content: "";
                    position: absolute;                    
                    display: flex;
                    left: 50%;
                    width: 5px;
                    height: 0;
                    background-image: url(../../public/images/fourthLine.svg);
                    background-repeat: no-repeat;
                    background-size: 5px 286px;
                    transition: all 1s ease 0.5s;
                }
                &.line.play::after{                   
                    height: 286px;
                }
                .products__head {
                    display: grid;
                    align-items: center;
                    grid-template-columns: 8.5fr 3.5fr;
                    opacity: 0;
                    animation: mainTitle  ease 0.5s;
                    animation-fill-mode: forwards;

                    .products__title {
                        font-family: "Hauora";
                        font-size: 35px;
                        font-weight: 500;
                        letter-spacing: 0.03em;
                        line-height: 47.81px;
                        text-align: left;
                        color: rgb(255, 255, 255);
                    }
                    .products__button {
                        @include button(110px, rgba(23, 19, 147, 0.4), rgba(23, 19, 147, 1));
                    }                    
                }
                .products__more {
                    margin-top: 100px;                   
                    display: grid;
                    grid-template-columns: repeat(3, 287px);
                    column-gap: 110px;

                   .products__column {
                        &:nth-child(1) {
                           p {
                                &:nth-child(1) {
                                   opacity: 0;
                                   animation: mainTitle  ease 1.2s;
                                   animation-fill-mode: forwards;
                                }
                                &:nth-child(3) {
                                    opacity: 0;
                                    transition:  ease 0.5s;

                                    &.appearance {
                                        opacity: 1;
                                    }
                                }
                                &:nth-child(5) {
                                    opacity: 0;
                                    transition:  ease 0.5s;

                                    &.appearance {
                                        opacity: 1;
                                    }
                                }
                           }
                           ul {
                                &:nth-child(2){
                                    opacity: 0;
                                    animation: mainTitle  ease 1.5s;
                                    animation-fill-mode: forwards;
                                }
                                &:nth-child(4){
                                    opacity: 0;
                                    transition:  ease 0.5s;

                                    &.appearance {
                                        opacity: 1;
                                    }
                                }
                                &:nth-child(6){
                                    opacity: 0;
                                    transition:  ease 0.5s;

                                    &.appearance {
                                        opacity: 1;
                                    }
                                }
                           }
                        }
                        &:nth-child(2) {
                            p {
                                 &:nth-child(1) {
                                    opacity: 0;
                                    animation: mainTitle  ease 1.7s;
                                    animation-fill-mode: forwards;
                                 }
                                 &:nth-child(3) {
                                    opacity: 0;
                                    transition:  ease 0.5s;

                                    &.appearance {
                                        opacity: 1;
                                    }
                                 }
                                 &:nth-child(5) {
                                    opacity: 0;
                                    transition:  ease 0.5s;

                                    &.appearance {
                                        opacity: 1;
                                    }
                                 }
                            }
                            ul {
                                 &:nth-child(2){
                                     opacity: 0;
                                     animation: mainTitle  ease 1.9s;
                                     animation-fill-mode: forwards;
                                 }
                                 &:nth-child(4){
                                    opacity: 0;
                                    transition:  ease 0.5s;

                                    &.appearance {
                                        opacity: 1;
                                    }
                                 }
                                 &:nth-child(6){
                                    opacity: 0;
                                    transition:  ease 0.5s;

                                    &.appearance {
                                        opacity: 1;
                                    }
                                 }
                            }
                        }
                        &:nth-child(3) {
                            p {
                                 &:nth-child(1) {
                                    opacity: 0;
                                    animation: mainTitle  ease 2.1s;
                                    animation-fill-mode: forwards;
                                 }
                                 &:nth-child(3) {
                                    opacity: 0;
                                    transition:  ease 0.5s;

                                    &.appearance {
                                        opacity: 1;
                                    }
                                 }
                                 &:nth-child(5) {
                                    opacity: 0;
                                    transition:  ease 0.5s;

                                    &.appearance {
                                        opacity: 1;
                                    }
                                 }
                            }
                            ul {
                                 &:nth-child(2){
                                     opacity: 0;
                                     animation: mainTitle  ease 2.3s;
                                     animation-fill-mode: forwards;
                                 }
                                 &:nth-child(4){
                                    opacity: 0;
                                    transition:  ease 0.5s;

                                    &.appearance {
                                        opacity: 1;
                                    }
                                 }
                                 &:nth-child(6){
                                    opacity: 0;
                                    transition:  ease 0.5s;

                                    &.appearance {
                                        opacity: 1;
                                    }
                                 }
                            }
                        }
                   }

                    .products__column {
                        .products__column__title {
                            font-family: "Hauora";
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 18px;
                            letter-spacing: 0.02em;
                            text-align: left;
                            text-underline-position: from-font;
                            -webkit-text-decoration-skip-ink: none;
                            text-decoration-skip-ink: none;
                            color: rgb(240, 246, 252);
                        }
                        ul {
                            margin-top: 40px;
                            li {
                                margin-top: 20px;
                                margin-left: 20px;
                                font-family: "Hauora";
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 23.4px;
                                letter-spacing: 0.02em;
                                text-align: left;
                                color: rgb(120, 119, 146);
                            }

                           
                        }
                    }
                
                    .products__column {
                        &:nth-child(1) {
                            .products__column__title {
                                &:nth-child(3) {
                                    margin-top: 100px;
                                }
                                &:nth-child(5) {
                                    margin-top: 100px;
                                }
                            }
                        }
                    }

                    .products__column {
                        &:nth-child(2) {
                            .products__column__title {
                                &:nth-child(3) {
                                    margin-top: 100px;
                                }
                                
                            }
                        }
                    }

                    .products__column {
                        &:nth-child(3) {
                            .products__column__title {
                                &:nth-child(3) {
                                    margin-top: 88px;
                                }
                                
                            }
                        }
                    }
                }
            }
        } 
        .earn {
            
            background: linear-gradient(rgb(0, 0, 0), rgb(3, 3, 22));
            position: relative;
            width: 100%;
            @include center();
            .earn__container {
                max-width: 1120px;
                width: 80%;
                @include center();
                flex-direction: column;
                .earn__title {
                    font-family: "Hauora";
                    font-size: 40px;
                    font-weight: 500;
                    letter-spacing: 0.03em;
                    line-height: 46px;
                    text-align: center;
                    color: rgb(240, 246, 252);
                    opacity: 0;  
                    transition: 1s ease;
                    &.appearance {
                        opacity: 1;
                    }
                }
                .earn__discripiton {
                    margin-top: 52px;
                    font-family: "Hauora";
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 0.03em;
                    line-height: 20.8px;
                    text-align: center;
                    color: rgb(112, 111, 146);
                    opacity: 0;  
                    transition:  ease 0.5s;
                    &.appearance {
                        opacity: 1;
                    }
                }
                .earn__search {                    
                    padding-top: 104px;
                    width: 100%;
                    @include center();
                    opacity: 0;
                    transition: 0.5s ease 0.5s;

                    &.appearance {
                        opacity: 1;
                    }  
                    .earn__invite {
                        label {
                            margin-left: 13px;
                            width: 483px;
                            display: flex;
                            justify-content: start;
                            font-family: "Hauora";
                            font-size: 16px;
                            font-weight: 500;
                            letter-spacing: 0.03em;
                            line-height: 20.8px;
                            text-align: left;
                            color: rgb(112, 111, 146);
                        }
                        .earn__form {
                            margin-top: 9px;
                            @include input();
                        }
                    } 
                }
            }
        }
    }
    .footer {
        background: linear-gradient(rgb(3, 3, 22), rgb(8, 7, 51));
        padding-top: 320px;
        padding-bottom: 109.46px;
        width: 100%;
        @include center();
        .footer__container {
            width: 80%;
            max-width: 1120px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            a {
                align-items: center;
                white-space: nowrap;
                font-family: "Hauora";
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 0.03em;
                line-height: 20.8px;
                text-align: center;
                color: rgb(112, 111, 146); 
                
                &.footer__mail {
                    margin-left: 164px;
                }
                
                &.footer__phone {
                    margin-left: 71px;
                }

                &.footer__xellon {
                    font-family: "Hauora";
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 23.4px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    text-underline-position: from-font;
                    -webkit-text-decoration-skip-ink: none;
                    text-decoration-skip-ink: none;
                    color: rgb(240, 246, 252);
                    margin-left: 71px;
                }

                &.footer__button {
                    margin-left: 110px;
                    @include button(80px,  transparent, rgba(52, 59, 67, 1) )
                }
            }
        }
        .footer__container-mob {
            display: none;
        } 
    }     
}

@media (max-width: 500px) {
    * {
        opacity: 1;
    }

    .play {
        display: none !important;
    }

    .effect {
        display: none;
    }

    p, h1, h2, h3, a {
        letter-spacing: 0!important; 
    }

    body {
        background: linear-gradient(180deg, #000000, rgb(0, 0, 0) 100%);
    }

    @mixin card() {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(7, 7, 7);
        border-radius: 20px;
        border: 1px solid $COLOR_DARK_GRAY;
        padding-bottom: 1px;
        p {
            max-width: 322px;
            padding: 60px 0 0 20px;
            font-family: "Hauora";
            font-size: 16px;
            font-weight: 500;
            line-height: 20.8px;
            text-align: left;
            color: $COLOR_WHITE;
            
            span {
                color: $COLOR_GRAY;
            }
        }
    }

    ::after{
        display: flex;
    }

    $width: 84.61%;
    .container {
        display: block;
        margin: auto;
        max-width: 500px;
        .header {
          
            width: 100vw;
            max-width: 100%;
            @include center();
            background: transparent;
            padding-bottom: 10px;
            transition: transform 0.3s ease-in-out;
            position: fixed;
            z-index: 1000;
            &.hidden {
                transform: translateY(-100%);
            }

            .header__container {
                width: $width;
                display: flex;
                justify-content: space-between;
                align-items: end;
                padding-top: 26px;
                a {                    
                    @include center();
                    img { 
                        width: 137px;
                        height: 22.94px;
                    }
                }
                .header__nav {
                    display: none;                    
                }
                .header__buttons {
                    @include center();
                    .header__buttons-search {
                       display: none;
                    }
                    .header__buttons-enter {
                        display: none;
                        margin: 0;
                    }
                    .header__buttons-menu {
                        display: flex;
                        @include button(66px, #0b0a4e, rgba(23, 19, 147, 1));
                    }
                    
                }
            }
        }
        .main {
            width: 100vw;
            max-width: 100%;
            @include center();
            flex-direction: column;
            .products {
                position: relative;
                width: 100%;
                @include center();
                background: linear-gradient(rgb(7, 6, 46), rgb(0,0,0));
                .products__container {
                    padding-top: 259px;
                    padding-bottom: 420px;
                    width: 80%;
                    max-width: 1120px;
                    flex-direction: column;
    
                    &::after {
                        margin-top: 50px;
                        content: "";
                        position: absolute;                    
                        display: flex;
                        left: 50%;
                        width: 5px;
                        height: 0;
                        background-image: url(../../public/images/fourthLine.svg);
                        background-repeat: no-repeat;
                        background-size: 5px 286px;
                        transition: all 1s ease 0.5s;
                    }
                    &.line.play::after{                   
                        height: 286px;
                    }
                    .products__head {
                        display: grid;
                        align-items: center;
                        grid-template-columns: 8.5fr 3.5fr;
                        opacity: 1;
                        animation: mainTitle  ease 0.5s;
                        animation-fill-mode: forwards;
    
                        .products__title {
                            font-size: 25px;
                            font-weight: 500;
                            line-height: 25px;
                            br {
                                display: none;
                            }
                        }
                        .products__button {
                            @include button(110px, rgba(23, 19, 147, 0.4), rgba(23, 19, 147, 1));
                        }                    
                    }
                    .products__more {
                        margin-top: 100px;                   
                        display: flex;
                        flex-direction: column;
                        row-gap: 20px;
                       .products__column {
                            &:nth-child(1) {
                               p {
                                    &:nth-child(1) {
                                       opacity: 1;
                                       animation: mainTitle  ease 1.2s;
                                       animation-fill-mode: forwards;
                                    }
                                    &:nth-child(3) {
                                        opacity: 1;
                                        transition:  ease 0.5s;
    
                                        &.appearance {
                                            opacity: 1;
                                        }
                                    }
                                    &:nth-child(5) {
                                        opacity: 1;
                                        transition:  ease 0.5s;
    
                                        &.appearance {
                                            opacity: 1;
                                        }
                                    }
                               }
                               ul {
                                    &:nth-child(2){
                                        opacity: 1;
                                        animation: mainTitle  ease 1.5s;
                                        animation-fill-mode: forwards;
                                    }
                                    &:nth-child(4){
                                        opacity: 1;
                                        transition:  ease 0.5s;
    
                                        &.appearance {
                                            opacity: 1;
                                        }
                                    }
                                    &:nth-child(6){
                                        opacity: 1;
                                        transition:  ease 0.5s;
    
                                        &.appearance {
                                            opacity: 1;
                                        }
                                    }
                               }
                            }
                            &:nth-child(2) {
                                p {
                                     &:nth-child(1) {
                                        opacity: 1;
                                        animation: mainTitle  ease 1.7s;
                                        animation-fill-mode: forwards;
                                     }
                                     &:nth-child(3) {
                                        opacity: 1;
                                        transition:  ease 0.5s;
    
                                        &.appearance {
                                            opacity: 1;
                                        }
                                     }
                                     &:nth-child(5) {
                                        opacity: 1;
                                        transition:  ease 0.5s;
    
                                        &.appearance {
                                            opacity: 1;
                                        }
                                     }
                                }
                                ul {
                                     &:nth-child(2){
                                         opacity: 1;
                                         animation: mainTitle  ease 1.9s;
                                         animation-fill-mode: forwards;
                                     }
                                     &:nth-child(4){
                                        opacity: 1;
                                        transition:  ease 0.5s;
    
                                        &.appearance {
                                            opacity: 1;
                                        }
                                     }
                                     &:nth-child(6){
                                        opacity: 1;
                                        transition:  ease 0.5s;
    
                                        &.appearance {
                                            opacity: 1;
                                        }
                                     }
                                }
                            }
                            &:nth-child(3) {
                                p {
                                     &:nth-child(1) {
                                        opacity: 1;
                                        animation: mainTitle  ease 2.1s;
                                        animation-fill-mode: forwards;
                                     }
                                     &:nth-child(3) {
                                        opacity: 1;
                                        transition:  ease 0.5s;
    
                                        &.appearance {
                                            opacity: 1;
                                        }
                                     }
                                     &:nth-child(5) {
                                        opacity: 1;
                                        transition:  ease 0.5s;
    
                                        &.appearance {
                                            opacity: 1;
                                        }
                                     }
                                }
                                ul {
                                     &:nth-child(2){
                                         opacity: 1;
                                         animation: mainTitle  ease 2.3s;
                                         animation-fill-mode: forwards;
                                     }
                                     &:nth-child(4){
                                        opacity: 1;
                                        transition:  ease 0.5s;
    
                                        &.appearance {
                                            opacity: 1;
                                        }
                                     }
                                     &:nth-child(6){
                                        opacity: 1;
                                        transition:  ease 0.5s;
    
                                        &.appearance {
                                            opacity: 1;
                                        }
                                     }
                                }
                            }
                       }
    
                        .products__column {
                            .products__column__title {
                                font-family: "Hauora";
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 18px;
                                letter-spacing: 0.02em;
                                text-align: left;
                                text-underline-position: from-font;
                                -webkit-text-decoration-skip-ink: none;
                                text-decoration-skip-ink: none;
                                color: rgb(240, 246, 252);
                                margin-top: 50px !important;
                            }
                            ul {
                                margin-top: 40px;
                                li {
                                    margin-top: 20px;
                                    margin-left: 20px;
                                    font-family: "Hauora";
                                    font-size: 18px;
                                    font-weight: 500;
                                    line-height: 23.4px;
                                    letter-spacing: 0.02em;
                                    text-align: left;
                                    color: rgb(120, 119, 146);
                                }
    
                               
                            }
                        }
                    
                        .products__column {
                            &:nth-child(1) {
                                .products__column__title {
                                    &:nth-child(3) {
                                        margin-top: 0;
                                    }
                                    &:nth-child(5) {
                                        margin-top: 0;
                                    }
                                }
                            }
                        }
    
                        .products__column {
                            &:nth-child(2) {
                                .products__column__title {
                                    &:nth-child(3) {
                                        margin-top: 0;
                                    }
                                    
                                }
                            }
                        }
    
                        .products__column {
                            &:nth-child(3) {
                                .products__column__title {
                                    &:nth-child(3) {
                                        margin-top: 0;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            } 
            .earn {
                background: linear-gradient(rgb(0, 0, 0), rgb(3, 3, 22));
                position: relative;
                width: 100%;
                @include center();
                .earn__container {
                    max-width: 1120px;
                    width: 80%;
                    @include center();
                    flex-direction: column;
                    .earn__title {
                        font-size: 25px;
                        font-weight: 500;
                        line-height: 25px;
                        opacity: 1;
                        &.appearance {
                            opacity: 1;
                        }
                    }
                    .earn__discripiton {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 20.8px;
                        opacity: 1;
                        br {
                            display: none;
                        }
                        &.appearance {
                            opacity: 1;
                        }
                    }
                    .earn__search {                    
                        padding-top: 104px;
                        padding-bottom: 104px;
                        width: 100%;
                        @include center();
                        opacity: 1;
                        transition: 0.5s ease 0.5s;
    
                        &.appearance {
                            opacity: 1;
                        }  
                        .earn__invite {
                            display: flex;
                            flex-direction: column;
                            label {
                                margin-left: 13px;
                                width: 100%;
                                display: flex;
                                justify-content: start;
                                font-family: "Hauora";
                                font-size: 16px;
                                font-weight: 500;
                                letter-spacing: 0.03em;
                                line-height: 20.8px;
                                text-align: left;
                                color: rgb(112, 111, 146);
                            }
                            .earn__form {
                                max-width: 300px;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                border: none;
                               input {
                                    max-width: 100%;
                                    height: 42px;
                                    border-radius: 10px;
                                    padding: 10px 0;
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 19.6px;
                                    text-align: left;

                                    &[type=text] {
                                        padding-left: 15px;
                                    }
                                }
                               button {
                                    margin-top: 20px;
                                    width: 100%;
                                    height: 42px;
                                    box-sizing: border-box;
                                    padding: 10px 25px 10px 25px;
                                    border-radius: 10px;
                                    border: 1px solid rgb(3, 16, 180);
                               }
                            }
                        } 
                    }
                }
            }
           
        }
        .footer {
            background: linear-gradient(rgb(3, 3, 22), rgb(8, 7, 51));
            padding-top: 50px;
            padding-bottom: 82px;
            width: 100%;
            @include center();
            .footer__container {
              display: none;
            }
            .footer__container-mob {
                display: flex;
                flex-direction: column;
                width: 79%;
                .mob__top {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .mob__button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 67px;
                        height: 30px;
                        border: 1px solid rgba(52, 59, 67, 1);
                        background-color: rgb(6, 5, 37);

                        font-family: "Hauora";
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 16px;                        
                        color: $COLOR_WHITE;
                        border-radius: 10px;
                    }                    
                }
                .mob__bottom {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    margin-top: 60px;
                    .mob__contacts {
                        font-family: "Hauora";
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 23.4px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        text-underline-position: from-font;
                        -webkit-text-decoration-skip-ink: none;
                        text-decoration-skip-ink: none;
                        color: rgb(240, 246, 252);
                    }
                    .mob__mail {
                        margin-top: 20px;
                        white-space: nowrap;
                        font-family: "Hauora";
                        font-size: 16px;
                        font-weight: 500;
                        letter-spacing: 0.03em;
                        line-height: 20.8px;
                        text-align: center;
                        color: rgb(112, 111, 146);
                    }
                    .mob__phone {
                        margin-top: 10px;
                        white-space: nowrap;
                        font-family: "Hauora";
                        font-size: 16px;
                        font-weight: 500;
                        letter-spacing: 0.03em;
                        line-height: 20.8px;
                        text-align: center;
                        color: rgb(112, 111, 146);
                    }
                    .mob__xellon {
                        margin-top: 10px;
                        font-family: "Hauora";
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 23.4px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        text-underline-position: from-font;
                        -webkit-text-decoration-skip-ink: none;
                        text-decoration-skip-ink: none;
                        color: rgb(240, 246, 252);
                        img {
                            margin-left: 8px;
                        }
                    }
                }
            }
        } 
    }
}
