* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    background: linear-gradient(180deg, #010049 -34.45%, rgba(0, 0, 0, 1) 100%);
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "Hauora";
    src: url("../../public/fonts/hauora_sans/Hauora.eot");
    src: url("../../public/fonts/hauora_sans/Hauora.eot?#iefix")format("embedded-opentype"),
    url("../../public/fonts/hauora_sans/Hauora.woff2")format("woff2"),
    url("../../public/fonts/hauora_sans/Hauora.woff")format("woff"),
    url("../../public/fonts/hauora_sans/Hauora.ttf")format("truetype"),
}

.mob {
    display: none;
}

$FONT_SIZE_12: 12px;
$FONT_SIZE_14: 14px;
$FONT_SIZE_16: 16px;
$FONT_SIZE_18: 18px;
$FONT_SIZE_35: 35px;
$FONT_SIZE_40: 40px;

$COLOR_DARK_GRAY: rgba(73, 73, 73, 1);
$COLOR_GRAY: rgba(112, 111, 146, 1);
$COLOR_LIGHT_WHITE: rgba(240, 246, 252, 1);;
$COLOR_WHITE: rgba(255, 255, 255 , 1);
$COLOR_BLACK: rgba(6, 6, 6, 1);

$width: 80%;

@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button($width, $color, $borderC) {
    width: $width;
    height: 30px;
    @include center();
    border-radius: 10px;
    background-color: $color;
    border: 1px solid $borderC;   
    cursor: pointer;

    font-family: "Hauora";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 16px;
    text-align: center;   
    transition: 0.5s;
    color: rgba(255, 255, 255, 1);
    &:hover {
        box-shadow: 0px 0px 26.39px 0px rgba(17, 14, 104, 1);
    }
}

@mixin card() {
    display: flex;
    flex-direction: column;    
    overflow: hidden;
    background-color: rgb(7, 7, 7);
    border-radius: 20px;
    border: 1px solid $COLOR_DARK_GRAY;
    padding-bottom: 1px;
    p {
        padding: 88px 0 0 95px;
        font-family: "Hauora";
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 23.4px;
        text-align: left;
        color: $COLOR_WHITE;
        z-index: 10;
        opacity: 1;
        &.appearance {
            opacity: 1;
        }
        span {
            opacity: 1;
            color: $COLOR_GRAY;           
            &.appearance {
                opacity: 1;
            }
        }
    }
}

@mixin input() {
    display: flex;
    width: 100%;
    max-width: 504px;
    height: 42px;
    border-radius: 10px;
    transition: 0.5s;
    border: 1px solid rgba(3, 16, 180, 1);
    &:hover {                            
        box-shadow: 0px 0px 26.39px 0px rgba(3, 16, 180, 1);
    }
    input {
        width: 367px;                            
        border-radius: 10px 0px 0px 10px;                            
        background-color: rgba(255, 255, 255, 1);
        border: none;
        outline: none;
        padding-left: 15px;        font-family: "Hauora";
        font-size: $FONT_SIZE_14;
        font-weight: 500;
        letter-spacing: 0.03em;
        line-height: 19.6px;
        text-align: left;
        color: $COLOR_BLACK;        
        &::placeholder {
            font-family: "Hauora";
            font-size: $FONT_SIZE_14;
            font-weight: 500;
            letter-spacing: 0.03em;
            line-height: 19.6px;
            text-align: left;
            color: $COLOR_GRAY;
        }
    }
    button {
        width: 153px;
        border-radius: 0px 10px 10px 0px ;
        border: none;
        cursor: pointer;
        background-color: rgba(23, 19, 147, 0.4);     
        
        font-family: "Hauora";
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(255, 255, 255, 1);
        
    }
    
}

@keyframes morphing {
    0% {
        border-radius: 60% 60% 60% 60% / 60% 60% 60% 60%;
    }
    25% { 
        border-radius:  67% 55% 45% 72% /   67% 55% 45% 72%;
    }
    50% {
        border-radius:  45% 72% 67% 55% /  45% 72% 67% 55%;
    }
    75% {
        border-radius:  60% 60% 72% 59% /  60% 60% 72% 59%;
    }
    100% {
        border-radius:  60% 60% 60% 60% / 60% 60% 60% 60%;
    }
}

@keyframes mainTitle {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.effect {
    scale: 0;
    opacity: 1;
    position: absolute;
    z-index: 1;
    background-color: rgba(4, 0, 110, 0.1);
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    filter: blur(50px);
    transition:  0.1s ease;
    pointer-events: none;
}

.container {
    display: block;
    margin: auto;
    max-width: 2560px;
    .header {
        width: 100vw;
        max-width: 100%;
        @include center();
        background: transparent;
        padding-bottom: 10px;
        transition: transform 0.3s ease-in-out;
        position: fixed;
        z-index: 1000;

        &.hidden {
            transform: translateY(-100%);
        }

        &.scrolled {
            background: linear-gradient(180deg, #000000 20.98%, rgba(0, 0, 0, 0) 100%);
        }

        .header__container {
            width: $width;
            max-width: 1120px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 41px;
            a {
                img {
                    width: 216px;
                    height: 33px;
                }
            }
            .header__nav {
                display: flex;
                align-items: center;
                .header__nav-link {
                    padding: 0 10px;
                    margin-left: 10px;
                    font-family: "Hauora";
                    font-size: $FONT_SIZE_14;
                    font-weight: 500;
                    letter-spacing: 0.03em;
                    letter-spacing: 0.03em;
                    line-height: 16.8px;
                    text-align: left;
                    color: $COLOR_GRAY;
                    &:nth-child(1) {
                        margin-left: 0;
                    }
                }
            }
            .header__buttons {
                @include center();
                .header__buttons-search {
                    margin-left: 10px;
                    font-family: "Hauora";
                    font-size: $FONT_SIZE_14;
                    font-weight: 500;
                    letter-spacing: 0.03em;
                    letter-spacing: 0.03em;
                    line-height: 16.8px;
                    text-align: left;
                    color: $COLOR_GRAY;
                }
                .header__buttons-enter {
                    margin-left: 38.5px;
                    @include button(117px, rgba(23, 19, 147, 0.4), rgba(23, 19, 147, 1));
                }
                .header__buttons-menu {
                    display: none;
                }
            }
        }
    }
    .main {
        width: 100vw;
        max-width: 100%;
        @include center();
        flex-direction: column;
        .offer {
            position: relative;
            width: 100%;
            @include center();
            background-color: rgb(6, 6, 40);
            background-blend-mode: overlay; 
            background-position: center;
            aspect-ratio: 16/9;
            .offer__video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover; 
                z-index: -1; 
            }
            .offer__container {
                padding-top: 150px;
                width: 80%;
                @include center();
                flex-direction: column;
                .offer__buttons {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 64px;
                    .offer__buttons__top {
                        display: flex;                        
                        .offer__button {
                            &:nth-child(1) {
                                margin-left: 0;
                                @include button(135px, rgba(22, 23, 24, 0), rgba(13, 10, 103, 1));
                            }
                            &:nth-child(2) {
                                @include button(182px, rgba(22, 23, 24, 0), rgba(13, 10, 103, 1));
                                margin-left: 30px;
                            }
                            &:nth-child(3) {
                                @include button(135px, rgba(22, 23, 24, 0), rgba(13, 10, 103, 1));
                                margin-left: 30px;
                            }
                        }
                    }
                    .offer__buttons__bottom {  
                        margin-top: 30px;
                        display: flex;                    
                        .offer__button {
                            &:nth-child(1) {
                                @include button(152px, rgba(22, 23, 24, 0), rgba(13, 10, 103, 1));
                            }
                            &:nth-child(2) {
                                @include button(121px, rgba(22, 23, 24, 0), rgba(13, 10, 103, 1));
                                margin-left: 30px;
                            }
                        }
                    }
                }
                .offer__title {
                    margin-top: 35px;
                    font-family: "Hauora";
                    font-size: 40px;
                    font-weight: 500;
                    letter-spacing: 0.03em;
                    line-height: 46px;
                    text-align: center;
                    color: rgb(240, 246, 252);
                    
                }
                .offer__discription {
                    margin-top: 35px;
                    @include center();
                    flex-direction: column;
                    opacity: 1;
                    animation: mainTitle 2s ease 1s;
                    animation-fill-mode: forwards;
                    .offer__info {
                        font-family: "Hauora";
                        font-size: $FONT_SIZE_16;
                        font-weight: 500;
                        letter-spacing: 0.03em;
                        line-height: 20.8px;
                        text-align: center;
                        color: $COLOR_GRAY;
                    }
                    .offer__slogan {
                        padding-top: 8px;
                        font-family: "Hauora";
                        font-size: $FONT_SIZE_16;
                        font-weight: 500;
                        letter-spacing: 0.03em;
                        line-height: 20.8px;
                        text-align: center;
                        color: $COLOR_WHITE;
                    }
                }
                .offer__search {
                    padding-top: 114px;
                    width: 100%;
                    @include center();
                    .form {
                        @include input();
                    }
                }
                .offer__partners {
                    padding-top: 207px;
                    width: 100%;
                    max-width: 978px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img {
                        &:nth-child(1) {
                            width: 94px;
                            height: 40px;                            
                        }
                        &:nth-child(2) {
                            width: 100px;
                            height: 40px;                            
                        }
                        &:nth-child(3) {
                            width: 136px;
                            height: 36px;                            
                        }
                        &:nth-child(4) {
                            width: 56px;
                            height: 38px;                            
                        }
                        &:nth-child(5) {
                            width: 91px;
                            height: 40px;                            
                        }
                    }
                }
            }
        }        
        .openspace {
            padding-top: 179px;
            padding-bottom: 295px;
            position: relative;
            background: linear-gradient(rgb(6, 6, 40), rgb(0,0,0));
            width: 100%;
            @include center();                 
            .openspace__container {
                max-width: 1120px;
                width: 80%;
                .openspace__title {
                    font-family: "Hauora";
                    font-size: 35px;
                    font-weight: 500;
                    letter-spacing: 0.03em;
                    line-height: 47.81px;
                    text-align: left;
                    color: rgb(255, 255, 255);
                   
                    span {
                        color: rgba(68, 63, 219, 1);
                    }                   
                }               
                .openspace__content {
                    padding-top: 100px;
                    width: 100%;
                    @include center();
                    flex-direction: column;
                    .openspace__code {                        
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        background-color: #060606;
                        width: 100%;
                        height: 600px;
                        border-radius: 20px;
                        border: 1px solid $COLOR_DARK_GRAY;
                        background-size: 1121px 600px;

                        &.show {
                            background-image: url("../../public/images/openspaceBack.png");
                        }

                        .openspace__code__discription {
                            padding: 80px 0 0 95px;
                            font-family: "Hauora";
                            font-size: $FONT_SIZE_18;
                            font-weight: 500;
                            letter-spacing: 0.02em;
                            line-height: 23.4px;
                            text-align: left;
                            color: $COLOR_WHITE;
                           
                            span {                                
                                
                                color: $COLOR_GRAY;
                            }
                        }
                        .openspace__code__big {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            mix-blend-mode: screen;
                            top: -125px;
                            img {
                                width: 559px;
                                height: 559px;
                            }
                        }                        
                    }
                    .openspace__grid {
                        padding-top: 24px;
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(2, 48.92%);
                        gap: 0 24px;
                        .openspace__grid__branch {
                            @include card(); 
                            height: 666px;                          
                            padding-bottom: 0;
                            p {
                                transition: 1s ease 0s;
                                span {
                                    transition: 1s ease 0.1s;
                                }
                            }
                            .openspace__img {
                                margin-top: 24px;
                               display: flex;
                               justify-content: center;
                               mix-blend-mode: screen;
                               img {
                                    width: 410px;
                                    height: 410px;
                               }
                            }
                        }
                       .openspace__grid__manage {
                            height: 666px; 
                            @include card();                         
                            padding-bottom: 0;
                            p {
                                transition: 1s ease 0.3s;
                                span {
                                    transition: 1s ease 0.4s;
                                }
                            }
                            .openspace__img {
                                margin-top: 49px;
                                display: flex;
                                justify-content: center;
                                mix-blend-mode: screen;
                                img {
                                     width: 360px;
                                     height: 360px;
                                }
                            }
                       }
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 154px;
                    display: flex;
                    width: 793px;
                    height: 0;
                    background-image: url(../../public/images/firstLine.svg);
                    background-repeat: no-repeat;
                    background-size: 793px 271px; 
                    transition: all 1s ease 0s;
                }
                &.line.play::after{                   
                    height: 271px;
                }
            }
            
        }
        .possibilities {  
            position: relative;
            background-color: rgb(0,0,0);
            width: 100%;
            @include center();   
            padding-bottom: 330px;              
            .possibilities__container {
                max-width: 1120px;
                width: 80%;
                .possibilities__title {
                    font-family: "Hauora";
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 0.03em;
                    line-height: 23.4px;
                    text-align: left;
                    color: rgb(255, 255, 255);
                    opacity: 1;
                    transition: all 1s ease 0s;
                    &.appearance {
                        opacity: 1;
                    }
                    span {
                        font-family: "Hauora";
                        font-size: 35px;
                        font-weight: 500;
                        letter-spacing: 0.03em;
                        line-height: 47.81px;
                        text-align: left;
                        color: rgb(68, 63, 219);
                    }                   
                }               
                .possibilities__content {
                    margin-top: 165px;
                    width: 100%;
                    display: flex;

                    .possibilities__manage {
                        width: 356px;
                        .possibilities__manage {
                            width: 248px;
                            height: 248px;
                        }
                    
                        .possibilities__manage__title {
                            margin-top: 30px;
                            font-family: "Hauora";
                            font-size: $FONT_SIZE_18;
                            font-weight: 500;
                            letter-spacing: 0.02em;
                            line-height: 23.4px;
                            text-align: left;
                            color: rgba(240, 246, 252, 1);
                        }
                        .possibilities__manage__discription {
                            margin-top: 30px;
                            font-family: "Hauora";
                            font-size: $FONT_SIZE_18;
                            font-weight: 500;
                            letter-spacing: 0.02em;
                            line-height: 23.4px;
                            text-align: left;
                            color: rgba(120, 119, 146, 1);
                        }
                    }

                    .possibilities__analitic {
                        width: 356px;
                        margin-left: 24px;
                        .possibilities__analitic {
                            width: 248px;
                            height: 248px;
                        }
                    
                        .possibilities__analitic__title {
                            margin-top: 30px;
                            font-family: "Hauora";
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 18px;
                            letter-spacing: 0.02em;
                            text-align: left;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            color: rgba(240, 246, 252, 1);
                        }
                        .possibilities__analitic__discription {
                            margin-top: 30px;
                            font-family: "Hauora";
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 23.4px;
                            letter-spacing: 0.02em;
                            text-align: left;     
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;                                              
                            color: rgba(120, 119, 146, 1);
                        }
                    }

                    .possibilities__dev {
                        width: 356px;
                        margin-left: 24px;
                        .possibilities__dev {
                            width: 248px;
                            height: 248px;
                        }
                    
                        .possibilities__dev__title {
                            margin-top: 30px;
                            font-family: "Hauora";
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 18px;
                            letter-spacing: 0.02em;
                            text-align: left;                                                                        
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            color: rgba(240, 246, 252, 1);
                        }
                        .possibilities__dev__discription {
                            margin-top: 30px;
                            font-family: "Hauora";
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 23.4px;
                            letter-spacing: 0.02em;
                            text-align: left;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            color: rgba(120, 119, 146, 1);
                        }
                    }
                }

                &::after {
                    content: "";
                    position: absolute;                    
                    display: flex;
                    left: 50%;
                    width: 5px;
                    height: 0;
                    background-image: url(../../public/images/Line10.png);
                    background-repeat: no-repeat;
                    background-size: 5px 286px;
                    transition: all 1s ease 0s;
                }
                &.line.play::after{                   
                    height: 286px;
                }
            }
        }
        .client {
            padding-top: 20px;
            width: 100%; 
            @include center();  
            background-color: rgb(0,0,0);        
            .client__container {
                max-width: 1120px;
                width: 80%;
                @include center();
                flex-direction: column;
                .client__buttons {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    .client__button {
                        &:nth-child(1) {
                            @include button(140px, rgba(22, 23, 24, 0), rgba(13, 10, 103, 1));                           
                        }
                        &:nth-child(2) {
                            margin-left: 30px;
                            @include button(236px, rgba(22, 23, 24, 0), rgba(13, 10, 103, 1));
                        }
                        &:nth-child(3) {
                            margin-left: 30px;
                            @include button(148px, rgba(22, 23, 24, 0), rgba(13, 10, 103, 1));
                        }
                    }
                }
                .client__title {
                    margin-top: 33px;
                    font-family: "Hauora";
                    font-size: 40px;
                    font-weight: 500;
                    letter-spacing: 0.03em;
                    line-height: 46px;
                    text-align: center;
                    color: rgb(240, 246, 252);
                }
                .client__img {
                    margin-top: 5px;
                    img {
                        width: 410px;
                        height: 408px;
                    }
                }
            }
        }
        .modules {
            padding-top: 69px;            
            padding-bottom: 174px;
            position: relative;
            background-color: rgb(0,0,0);
            width: 100%;
            @include center();                 
            .modules__container {
                max-width: 1120px;
                width: 80%;
                .modules__title {
                    font-family: "Hauora";
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 0.03em;
                    line-height: 23.4px;
                    text-align: left;
                    color: rgb(255, 255, 255); 
                    opacity: 1;
                    transition: all 1s ease 0s;
                    &.appearance {
                        opacity: 1;
                    }
                    span {
                        color: rgba(68, 63, 219, 1);
                        font-family: "Hauora";
                        font-size: 35px;
                        font-weight: 500;
                        letter-spacing: 0.03em;
                        line-height: 47.81px;
                        text-align: left;
                    }                   
                }               
                .modules__content {
                    margin-top: 165px;
                    width: 100%;                        
                    display: grid;
                    grid-template-columns: repeat(3, 31.78%);              
                    gap: 24px 30px;
                    
                   .modules__box {
                        &:nth-child(n) {
                        width: 356px;
                        .modules__box__picture {
                            width: 248px;
                            height: 248px;
                        }
                    
                        .modules__box__title {
                            margin-top: 30px;
                            font-family: "Hauora";
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 18px;
                            letter-spacing: 0.02em;
                            text-align: left;
                            text-underline-position: from-font;
                            -webkit-text-decoration-skip-ink: none;
                            text-decoration-skip-ink: none;
                            color: rgb(240, 246, 252);
                        }
                        .modules__box__discription {
                            margin-top: 30px;
                            font-family: "Hauora";
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 23.4px;
                            letter-spacing: 0.02em;
                            text-align: left;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            color: rgba(120, 119, 146, 1);
                        }
                    }

                       
                    }

                   .modules__more { 
                        width: 356px;
                        .modules__box__title {
                           
                            margin-top: 280px;
                            font-family: "Hauora";
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 23.4px;
                            text-align: left;
                            text-underline-position: from-font;
                            -webkit-text-decoration-skip-ink: none;
                            text-decoration-skip-ink: none;
                            color: rgb(240, 246, 252);
                        }

                        .modules__box-button {
                            margin-top: 62px;
                            @include button(108px,rgba(23, 19, 147, 0.4), rgba(23, 19, 147, 1));
                        }
                    }

                }
            }
        }
        .inplomintation {
            padding-top: 179px;
            padding-bottom: 425px;
            position: relative;
            background: linear-gradient(rgb(0,0,0), rgb(8, 7, 50), rgb(1, 1, 8));
            width: 100%;
            @include center();                 
            .inplomintation__container {
                max-width: 1120px;
                width: 80%;
                .inplomintation__title {
                    font-family: "Hauora";
                    font-size: 35px;
                    font-weight: 500;
                    letter-spacing: 0.03em;
                    line-height: 47.81px;
                    text-align: left;
                    color: $COLOR_WHITE; 
                    opacity: 1;
                    transition: all 1s ease 0s;
                    &.appearance {
                        opacity: 1;
                    }
                    span {
                        color: rgba(68, 63, 219, 1);
                    }                   
                }               
                .inplomintation__content {
                    padding-top: 100px;
                    width: 100%;
                    @include center();
                    flex-direction: column-reverse;
                    .inplomintation__code {     
                        margin-top: 24px;                   
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        background-color: #060606;
                        width: 100%;
                        height: 600px;
                        border-radius: 20px;
                        border: 1px solid $COLOR_DARK_GRAY;
                        background-size: 1121px 600px;

                        &.show {
                            background-image: url("../../public/images/inplomintationBack.png");
                        }

                        .inplomintation__code__discription {
                            padding: 80px 0 0 95px;
                            font-family: "Hauora";
                            font-size: $FONT_SIZE_18;
                            font-weight: 500;
                            letter-spacing: 0.02em;
                            line-height: 23.4px;
                            text-align: left;
                            color: $COLOR_WHITE;
                            opacity: 1;                            
                            z-index: 10;
                            transition: 1s ease;
                            &.appearance {
                                opacity: 1;
                            }
                            span {                                
                                opacity: 1;
                                transition: 1s ease 0.5s;
                                &.appearance {
                                    opacity: 1;
                                }
                                color: $COLOR_GRAY;
                            }
                        }
                        .inplomintation__code__big {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            mix-blend-mode: screen;
                            top: -125px;
                            img {
                                width: 559px;
                                height: 559px;
                            }
                        }                        
                    }
                    .inplomintation__grid {
                        padding-top: 24px;
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(2, 48.92%);
                        gap: 0 24px;
                        .inplomintation__grid__branch {
                            @include card(); 
                            height: 666px;                          
                            padding-bottom: 0;
                            p {
                                transition: 1s ease 0s;
                                span {
                                    transition: 1s ease 0.1s;
                                }
                            }
                            .inplomintation__img {
                                margin-top: 24px;
                               display: flex;
                               justify-content: center;
                               mix-blend-mode: screen;
                               img {
                                    width: 410px;
                                    height: 410px;
                               }
                            }
                        }
                       .inplomintation__grid__manage {
                            height: 666px; 
                            @include card();                         
                            padding-bottom: 0;
                            p {
                                transition: 1s ease 0.3s;
                                span {
                                    transition: 1s ease 0.4s;
                                }
                            }
                            .inplomintation__img {
                                margin-top: 49px;
                                display: flex;
                                justify-content: center;
                                mix-blend-mode: screen;
                                img {
                                    width: 470px;
                                    height: 470px;
                                }
                            }
                       }
                    }
                }
                &::after {
                    content: "";
                    position: absolute;                    
                    display: flex;
                    left: 158px;
                    width: 3px;
                    height: 0;
                    background-image: url(../../public/images/thirdLine.svg);
                    background-repeat: no-repeat;
                    background-size: 3px 473px;
                    transition: all 1s ease 0s;
                }
                &.line.play::after{                   
                    height: 413px;
                }
            }
        }
        .characteristic {           
            padding-bottom: 400px;
            position: relative;
            background-color: rgb(0,0,0);
            background: linear-gradient(rgb(1, 1, 8), rgb(0,0,0));
            width: 100%;
            @include center();                 
            .characteristic__container {
                max-width: 1120px;
                width: 80%;
                .characteristic__title {
                    font-family: "Hauora";
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 0.03em;
                    line-height: 23.4px;
                    text-align: left;
                    color: rgb(255, 255, 255);
                    span {
                        color: rgba(68, 63, 219, 1);
                        font-family: "Hauora";
                        font-size: 35px;
                        font-weight: 500;
                        letter-spacing: 0.03em;
                        line-height: 47.81px;
                        text-align: left;
                    }                   
                }               
                .characteristic__content {
                    margin-top: 165px;
                    width: 100%;                        
                    display: grid;                 
                    grid-template-columns: repeat(3, 31.78%);
                    gap: 94px  24px;
                   .characteristic__box {
                        &:nth-child(n) {
                        width: 356px;
                        .characteristic__box__picture {
                            width: 248px;
                            height: 248px;
                            mix-blend-mode: screen;
                        }
                    
                        .characteristic__box__title {
                            margin-top: 30px;
                            font-family: "Hauora";
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 23.4px;
                            letter-spacing: 0.02em;
                            text-align: left;
                            text-underline-position: from-font;
                            -webkit-text-decoration-skip-ink: none;
                            text-decoration-skip-ink: none;
                            color: rgba(240, 246, 252, 1);
                        }
                        .characteristic__box__discription {
                            margin-top: 30px;
                            font-family: "Hauora";
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 23.4px;
                            letter-spacing: 0.02em;
                            text-align: left;
                            text-underline-position: from-font;
                            -webkit-text-decoration-skip-ink: none;
                            text-decoration-skip-ink: none;
                            color: rgba(120, 119, 146, 1);
                        }
                        }
                    }
                }

                &::after {
                    margin-top: 50px;
                    content: "";
                    position: absolute;                    
                    display: flex;
                    left: 50%;
                    width: 5px;
                    height: 0;
                    background-image: url(../../public/images/fourthLine.svg);
                    background-repeat: no-repeat;
                    background-size: 5px 286px;
                    transition: all 1s ease 0s;
                }
                &.line.play::after{                   
                    height: 286px;
                }
            }
        }
        .earn {
            background: linear-gradient(rgb(0, 0, 0), rgb(3, 3, 22));
            position: relative;
            width: 100%;
            @include center();
            .earn__container {
                max-width: 1120px;
                width: 80%;
                @include center();
                flex-direction: column;
                .earn__title {
                    font-family: "Hauora";
                    font-size: 40px;
                    font-weight: 500;
                    letter-spacing: 0.03em;
                    line-height: 46px;
                    text-align: center;
                    color: rgb(240, 246, 252);
                }
                .earn__discripiton {
                    margin-top: 52px;
                    font-family: "Hauora";
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 0.03em;
                    line-height: 20.8px;
                    text-align: center;
                    color: rgb(112, 111, 146);
                }
                .earn__search {                    
                    padding-top: 104px;
                    width: 100%;
                    @include center();
                    .earn__invite {
                        label {
                            margin-left: 13px;
                            width: 483px;
                            display: flex;
                            justify-content: start;
                            font-family: "Hauora";
                            font-size: 16px;
                            font-weight: 500;
                            letter-spacing: 0.03em;
                            line-height: 20.8px;
                            text-align: left;
                            color: rgb(112, 111, 146);
                        }
                        .earn__form {
                            margin-top: 9px;
                            @include input();
                        }
                    } 
                }
            }
        }
    }
    .footer {
        background: linear-gradient(rgb(3, 3, 22), rgb(8, 7, 51));
        padding-top: 320px;
        padding-bottom: 109.46px;
        width: 100%;
        @include center();
        .footer__container {
            width: 80%;
            max-width: 1120px;
            display: flex;
            justify-content: space-between;
            color: white;
            .footer__top {
                display: flex;
                align-items: left;
                flex-direction: column;
                .footer__logo {
                    width: 140.85px;
                    height: 32.61px;                    
                }
                .footer__newsletter {
                    margin-top: 97.06px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 97px;
                    height: 30px;
                    border-radius: 10px;
                    border: 1px solid rgba(52, 59, 67, 1);
                    background-color: transparent;
                    cursor: pointer;

                    font-family: "Hauora";
                    font-size: $FONT_SIZE_14;
                    font-weight: 500;
                    letter-spacing: 0.03em;
                    line-height: 16.8px;
                    text-align: left;
                    color: $COLOR_WHITE;

                    &:hover {
                        box-shadow: 0px 0px 26.39px 0px rgba(17, 14, 104, 1);
                    }
                }
            }
            .footer__menu {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-left: 54px;
                margin-top: 18px;
                .footer__column {
                display: flex;
                flex-direction: column;
            
               .footer__column__title {
                    font-family: "Hauora";
                    font-size: $FONT_SIZE_12;
                    font-weight: 400;
                    line-height: 15.6px;
                    text-align: left;
                    color: $COLOR_WHITE;
                    padding-bottom: 42.54px;
               }

               .footer__column__item {
               
                    margin-top: 8px;
                    font-family: "Hauora";
                    font-size: $FONT_SIZE_12;
                    font-weight: 400;
                    line-height: 15.6px;
                    text-align: left;
                    color: $COLOR_GRAY;                
               }
                }
            }
        }
    }    
}


